h1{
	text-align: center;
}

table{
	margin-top: 25px;
	margin-bottom: 10px;
	border-collapse: collapse;
	background-color: #0b0d0c;
}

td, th{
	border: 1px solid #aa9257;
	padding: 0 10px;
	color: #dace7a;
	text-align: center;
}

th{
	font-size: 30px;
}

.bottomright{
	text-decoration: none;
	color: #aa9257;

	margin: 5px 10px;
	position: fixed;
	bottom: 0;
	right: 0;
}

.pass{

	margin: 30px;

}